Software-Meca2024/Flows/flows 7.json
[
    {
        "id": "e54ab672b4e98047",
        "type": "tab",
        "label": "Flow Principal",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07cc84ea196d9af6",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "MODULO 3",
        "style": {
            "fill": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "29fbd2389379330b",
            "db2dcc381f711145",
            "629f282a2ec76f95",
            "923c32fceacc7c48",
            "57d8368fb387ec44",
            "57d8368fb387ec44",
            "bb521d3939c72519"
        ],
        "x": 274,
        "y": 799,
        "w": 822,
        "h": 142
    },
    {
        "id": "42f5779f070f1b64",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "MODULO 2",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73c4d6a1c26bd106",
            "44946db263df29b5",
            "0fd6ab60dd67ffe8",
            "3436642ba5b01b3f",
            "20769e109f338d53",
            "3436642ba5b01b3f",
            "1703b585b6f10431"
        ],
        "x": 274,
        "y": 619,
        "w": 812,
        "h": 142
    },
    {
        "id": "908e6467f53ee610",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "MODULO 1",
        "style": {
            "fill": "#0070c0",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "158e4bae8b20e095",
            "770cf8545acf5475",
            "968b458ad6b29d3f",
            "530ea31b1fb18d70",
            "f53af66e9f73126a",
            "530ea31b1fb18d70",
            "7589af288d5dc064"
        ],
        "x": 274,
        "y": 439,
        "w": 812,
        "h": 142
    },
    {
        "id": "540bac76be0e2611",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "PRUEBA SERVO MOTORES",
        "style": {
            "fill": "#9363b7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a77588de026a4bed",
            "f3ef11624c7867c2",
            "df8e06229e910ad1",
            "df8e06229e910ad1"
        ],
        "x": 274,
        "y": 319,
        "w": 812,
        "h": 82
    },
    {
        "id": "89d04f1d2c562803",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "WEBSOCKET  \"F\" Y TEMPERATURAS",
        "style": {
            "label": true,
            "fill": "#ff3f3f",
            "color": "#000000"
        },
        "nodes": [
            "e2c3120710b328e8",
            "ccc48885d6bc066e",
            "98413ee962ea2c41",
            "352306a40659e437",
            "62c3be02e12f2111"
        ],
        "x": 274,
        "y": 979,
        "w": 832,
        "h": 142
    },
    {
        "id": "ab38930fe3544a50",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "ENVIO DE DATOS AL PIC",
        "style": {
            "stroke": "#d1d1d1",
            "label": true,
            "fill": "#a4a4a4",
            "color": "#000000"
        },
        "nodes": [
            "5080fa423da09217",
            "387cb648a3d5a7dc",
            "94554694f4f7cdf4",
            "8cc07ef77379bad7",
            "4d349bdc6a7d960e",
            "7452b0934c45d352"
        ],
        "x": 1194,
        "y": 619,
        "w": 552,
        "h": 142
    },
    {
        "id": "7f6f00045304d978",
        "type": "group",
        "z": "e54ab672b4e98047",
        "g": "7af6488c4169bc5e",
        "name": "",
        "style": {
            "fill": "#a4a4a4",
            "label": true
        },
        "nodes": [
            "a40792e96f31362f"
        ],
        "x": 1324,
        "y": 859,
        "w": 82,
        "h": 82
    },
    {
        "id": "6931fbc8c9feef9b",
        "type": "group",
        "z": "e54ab672b4e98047",
        "g": "7af6488c4169bc5e",
        "name": "",
        "style": {
            "fill": "#7f7f7f",
            "label": true
        },
        "nodes": [
            "fb4e9f3aad952072",
            "a5facccd6edcec40",
            "e9c67a695e797355"
        ],
        "x": 1224,
        "y": 819,
        "w": 82,
        "h": 162
    },
    {
        "id": "7af6488c4169bc5e",
        "type": "group",
        "z": "e54ab672b4e98047",
        "name": "ENVIO DATOS AL PIC",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#7f8faf"
        },
        "nodes": [
            "7f6f00045304d978",
            "6931fbc8c9feef9b"
        ],
        "x": 1198,
        "y": 793,
        "w": 234,
        "h": 214
    },
    {
        "id": "158e4bae8b20e095",
        "type": "http in",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "name": "",
        "url": "/recibirDatoCorte1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "968b458ad6b29d3f",
                "770cf8545acf5475",
                "7589af288d5dc064"
            ]
        ]
    },
    {
        "id": "968b458ad6b29d3f",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "name": "ENVIO A BASE DE DATOS M1",
        "func": "msg.payload = [msg.payload.corte, msg.payload.puntoCoccion,msg.payload.sal,msg.payload.chimi,msg.payload.smoke];\nmsg.topic = \"SELECT tempDarVuelta, tempFinal FROM coccion WHERE corte = ? AND punto = ?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "530ea31b1fb18d70"
            ]
        ]
    },
    {
        "id": "f53af66e9f73126a",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "name": "SALIDA BASE DE DATOS M1",
        "func": "let Csal = msg.payload[0].sal;\nlet Cchimi = msg.payload[0].chimi;\nlet Chumo = msg.payload[0].smoke;\nlet tempDarVuelta = msg.payload[1][0].tempDarVuelta;\nlet tempFinal = msg.payload[1][0].tempFinal;\nlet msgEnvio = \"*m1\" + \"v\" + tempDarVuelta + \"f\" + tempFinal + \"c\" + Csal.toString() + Cchimi.toString() + Chumo.toString()\nmsg.payload = msgEnvio;\nmsg.order = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 540,
        "wires": [
            [
                "387cb648a3d5a7dc"
            ]
        ]
    },
    {
        "id": "770cf8545acf5475",
        "type": "join",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "name": "JOIN M1",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 720,
        "y": 540,
        "wires": [
            [
                "f53af66e9f73126a"
            ]
        ]
    },
    {
        "id": "73c4d6a1c26bd106",
        "type": "http in",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "name": "",
        "url": "/recibirDatoCorte2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "44946db263df29b5",
                "0fd6ab60dd67ffe8",
                "1703b585b6f10431"
            ]
        ]
    },
    {
        "id": "5080fa423da09217",
        "type": "http response",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1440,
        "y": 660,
        "wires": []
    },
    {
        "id": "44946db263df29b5",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "name": "ENVIO A BASE DE DATOS M2",
        "func": "msg.payload = [msg.payload.corte, msg.payload.puntoCoccion,msg.payload.sal,msg.payload.chimi,msg.payload.smoke];\nmsg.topic = \"SELECT tempDarVuelta, tempFinal FROM coccion WHERE corte = ? AND punto = ?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 660,
        "wires": [
            [
                "3436642ba5b01b3f"
            ]
        ]
    },
    {
        "id": "20769e109f338d53",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "name": "SALIDA BASE DE DATOS M2",
        "func": "let Csal = msg.payload[0].sal;\nlet Cchimi = msg.payload[0].chimi;\nlet Chumo = msg.payload[0].smoke;\nlet tempDarVuelta = msg.payload[1][0].tempDarVuelta;\nlet tempFinal = msg.payload[1][0].tempFinal;\nlet msgEnvio = \"m2\" + \"v\" + tempDarVuelta + \"f\" + tempFinal + \"c\" + Csal.toString() + Cchimi.toString() + Chumo.toString()\nmsg.payload = msgEnvio;\nmsg.order = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 720,
        "wires": [
            [
                "387cb648a3d5a7dc"
            ]
        ]
    },
    {
        "id": "0fd6ab60dd67ffe8",
        "type": "join",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "name": "JOIN M2",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 720,
        "y": 720,
        "wires": [
            [
                "20769e109f338d53"
            ]
        ]
    },
    {
        "id": "29fbd2389379330b",
        "type": "http in",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "name": "",
        "url": "/recibirDatoCorte3",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 900,
        "wires": [
            [
                "db2dcc381f711145",
                "629f282a2ec76f95",
                "bb521d3939c72519"
            ]
        ]
    },
    {
        "id": "db2dcc381f711145",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "name": "ENVIO A BASE DE DATOS M3",
        "func": "msg.payload = [msg.payload.corte, msg.payload.puntoCoccion,msg.payload.sal,msg.payload.chimi,msg.payload.smoke];\nmsg.topic = \"SELECT tempDarVuelta, tempFinal FROM coccion WHERE corte = ? AND punto = ?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 840,
        "wires": [
            [
                "57d8368fb387ec44"
            ]
        ]
    },
    {
        "id": "923c32fceacc7c48",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "name": "SALIDA BASE DE DATOS M3",
        "func": "let Csal = msg.payload[0].sal;\nlet Cchimi = msg.payload[0].chimi;\nlet Chumo = msg.payload[0].smoke;\nlet tempDarVuelta = msg.payload[1][0].tempDarVuelta;\nlet tempFinal = msg.payload[1][0].tempFinal;\nlet msgEnvio = \"m3\" + \"v\" + tempDarVuelta + \"f\" + tempFinal + \"c\" + Csal.toString() + Cchimi.toString() + Chumo.toString() + \"*\"\nmsg.payload = msgEnvio;\nmsg.order = 3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 900,
        "wires": [
            [
                "387cb648a3d5a7dc"
            ]
        ]
    },
    {
        "id": "629f282a2ec76f95",
        "type": "join",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "name": "JOIN M3",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 700,
        "y": 900,
        "wires": [
            [
                "923c32fceacc7c48"
            ]
        ]
    },
    {
        "id": "387cb648a3d5a7dc",
        "type": "join",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "4d349bdc6a7d960e"
            ]
        ]
    },
    {
        "id": "a40792e96f31362f",
        "type": "link out",
        "z": "e54ab672b4e98047",
        "g": "7f6f00045304d978",
        "name": "LINK ENVIO",
        "mode": "link",
        "links": [
            "94554694f4f7cdf4"
        ],
        "x": 1365,
        "y": 900,
        "wires": []
    },
    {
        "id": "94554694f4f7cdf4",
        "type": "link in",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "LINK ENVIO",
        "links": [
            "a40792e96f31362f"
        ],
        "x": 1245,
        "y": 660,
        "wires": [
            [
                "5080fa423da09217"
            ]
        ]
    },
    {
        "id": "e2c3120710b328e8",
        "type": "websocket out",
        "z": "e54ab672b4e98047",
        "g": "89d04f1d2c562803",
        "name": "",
        "server": "5cc7a88330275e2a",
        "client": "",
        "x": 980,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ccc48885d6bc066e",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "89d04f1d2c562803",
        "name": "ENVIO DE TEMPERATURAS A WS",
        "func": "function generarJSON(entrada) {\n    // Usamos una expresión regular para extraer las temperaturas\n    const temperaturas = entrada.match(/T(\\d+)/g).map(t => parseInt(t.substring(1)));\n\n    // Creamos el objeto JSON\n    const resultado = {\n        temperatura1: temperaturas[0],\n        temperatura2: temperaturas[1]\n    };\n\n    return JSON.stringify(resultado);\n}\n\n\nconst jsonResultado = generarJSON(msg.payload);\nmsg.payload = jsonResultado\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "e2c3120710b328e8"
            ]
        ]
    },
    {
        "id": "a77588de026a4bed",
        "type": "http in",
        "z": "e54ab672b4e98047",
        "g": "540bac76be0e2611",
        "name": "",
        "url": "/enviar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "f3ef11624c7867c2"
            ]
        ]
    },
    {
        "id": "f3ef11624c7867c2",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "540bac76be0e2611",
        "name": "PAYLOAD \"J\"",
        "func": "if (msg.payload && msg.payload.letra) {\n    msg.payload = msg.payload.letra; // Extrae solo la letra\n} else {\n    node.error(\"Payload no definido o sin propiedad 'letra'\", msg);\n    return null; // Detiene el flujo si hay un error\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "df8e06229e910ad1"
            ]
        ]
    },
    {
        "id": "8cc07ef77379bad7",
        "type": "debug",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 660,
        "wires": []
    },
    {
        "id": "4d349bdc6a7d960e",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "function 2",
        "func": "msg.payload.sort((a, b) => a.order - b.order);\nmsg.payload = msg.payload[0].payload + msg.payload[1].payload + msg.payload[2].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 720,
        "wires": [
            [
                "8cc07ef77379bad7",
                "7452b0934c45d352"
            ]
        ]
    },
    {
        "id": "98413ee962ea2c41",
        "type": "function",
        "z": "e54ab672b4e98047",
        "g": "89d04f1d2c562803",
        "name": "ENVIO DE \"F\" A WS",
        "func": "msg.payload = [\"f\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "352306a40659e437"
            ]
        ]
    },
    {
        "id": "352306a40659e437",
        "type": "websocket out",
        "z": "e54ab672b4e98047",
        "g": "89d04f1d2c562803",
        "name": "",
        "server": "f5af5e2926b414df",
        "client": "",
        "x": 940,
        "y": 1080,
        "wires": []
    },
    {
        "id": "62c3be02e12f2111",
        "type": "serial in",
        "z": "e54ab672b4e98047",
        "g": "89d04f1d2c562803",
        "name": "SERIAL PIC",
        "serial": "42e44742403d9a1a",
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "ccc48885d6bc066e",
                "98413ee962ea2c41"
            ]
        ]
    },
    {
        "id": "7452b0934c45d352",
        "type": "serial out",
        "z": "e54ab672b4e98047",
        "g": "ab38930fe3544a50",
        "name": "",
        "serial": "42e44742403d9a1a",
        "x": 1650,
        "y": 720,
        "wires": []
    },
    {
        "id": "df8e06229e910ad1",
        "type": "serial out",
        "z": "e54ab672b4e98047",
        "g": "540bac76be0e2611",
        "name": "SERIAL PIC",
        "serial": "42e44742403d9a1a",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "530ea31b1fb18d70",
        "type": "mysql",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "mydb": "15143698c0d11e19",
        "name": "BASE DE DATOS",
        "x": 970,
        "y": 480,
        "wires": [
            [
                "770cf8545acf5475"
            ]
        ]
    },
    {
        "id": "3436642ba5b01b3f",
        "type": "mysql",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "mydb": "15143698c0d11e19",
        "name": "BASE DE DATOS",
        "x": 970,
        "y": 660,
        "wires": [
            [
                "0fd6ab60dd67ffe8"
            ]
        ]
    },
    {
        "id": "57d8368fb387ec44",
        "type": "mysql",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "mydb": "15143698c0d11e19",
        "name": "BASE DE DATOS",
        "x": 970,
        "y": 840,
        "wires": [
            [
                "629f282a2ec76f95"
            ]
        ]
    },
    {
        "id": "fb4e9f3aad952072",
        "type": "link in",
        "z": "e54ab672b4e98047",
        "g": "6931fbc8c9feef9b",
        "name": "LINK M1",
        "links": [
            "7589af288d5dc064"
        ],
        "x": 1265,
        "y": 860,
        "wires": [
            [
                "a40792e96f31362f"
            ]
        ]
    },
    {
        "id": "7589af288d5dc064",
        "type": "link out",
        "z": "e54ab672b4e98047",
        "g": "908e6467f53ee610",
        "name": "LINK M1",
        "mode": "link",
        "links": [
            "fb4e9f3aad952072"
        ],
        "x": 575,
        "y": 520,
        "wires": []
    },
    {
        "id": "1703b585b6f10431",
        "type": "link out",
        "z": "e54ab672b4e98047",
        "g": "42f5779f070f1b64",
        "name": "LINK M2",
        "mode": "link",
        "links": [
            "a5facccd6edcec40"
        ],
        "x": 595,
        "y": 700,
        "wires": []
    },
    {
        "id": "a5facccd6edcec40",
        "type": "link in",
        "z": "e54ab672b4e98047",
        "g": "6931fbc8c9feef9b",
        "name": "LINK M2",
        "links": [
            "1703b585b6f10431"
        ],
        "x": 1265,
        "y": 900,
        "wires": [
            [
                "a40792e96f31362f"
            ]
        ]
    },
    {
        "id": "e9c67a695e797355",
        "type": "link in",
        "z": "e54ab672b4e98047",
        "g": "6931fbc8c9feef9b",
        "name": "LINK M3",
        "links": [
            "bb521d3939c72519"
        ],
        "x": 1265,
        "y": 940,
        "wires": [
            [
                "a40792e96f31362f"
            ]
        ]
    },
    {
        "id": "bb521d3939c72519",
        "type": "link out",
        "z": "e54ab672b4e98047",
        "g": "07cc84ea196d9af6",
        "name": "LINK M3",
        "mode": "link",
        "links": [
            "e9c67a695e797355"
        ],
        "x": 585,
        "y": 880,
        "wires": []
    },
    {
        "id": "5cc7a88330275e2a",
        "type": "websocket-listener",
        "path": "/ws/temperatura",
        "wholemsg": "false"
    },
    {
        "id": "f5af5e2926b414df",
        "type": "websocket-listener",
        "path": "/ws/f",
        "wholemsg": "true"
    },
    {
        "id": "42e44742403d9a1a",
        "type": "serial-port",
        "name": "",
        "serialport": "COM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "15143698c0d11e19",
        "type": "MySQLdatabase",
        "name": "meca",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "meca",
        "tz": "",
        "charset": "UTF8"
    }
]